@model IEnumerable<Cosmetics_Shopping_Website.GenericPattern.ViewModels.ProductVariantVM>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<body class="mb-0">

    <div class="row mx-5">
        <div class="container-fluid mt-2 p-0">
            <div class="space bg-transparent"></div>
            <!-- row  -->
            <div class="row p-0 m-0">

                <div class="col-md-12  mt-5 p-0 m-0">
                    <!-- card  -->
                    <div class="card">
                        <!-- card header  -->
                        <div class="card-header bg-white  py-4">
                            <div>

                                <h4 class="mb-0 float-start">Product-Variants</h4>
                            </div>
                            <br />
                        </div>
                        <!-- table  -->
                        <div class="table-responsive">
                            <br />
                            <table class="table text-nowrap mt-4" id="table_list">
                                <thead class="table-light">
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => model.Product)</th>
                                        <th> @Html.DisplayNameFor(model => model.VariantName)</th>
                                        <th> @Html.DisplayNameFor(model => model.Price)</th>

                                        <th> Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Product)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VariantName)
                                            </td>
                                            <td>
                                                <p>Rs.@Html.DisplayFor(modelItem => item.Price)</p>
                                            </td>

                                            <td>

                                               
                                                <a asp-controller="Home" asp-action="Product_Details_for_Customer" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true" data-mdb-toggle="tooltip" title="View Details"></i></a>
                                               
                                            </td>
                                        </tr>
                                        
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        
            
        
    </div>
    @section scripts{
        <script>

            $(document).ready(function () {
                $('#table_list').DataTable();
            });
        </script>
    }


</body>
