@model IEnumerable<Cosmetics_Shopping_Website.GenericPattern.ViewModels.ProductVariantVM>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<body class="mb-0">
    <div class="space bg-transparent"></div>
    <div class="container-fluid mt-5 px-5">
        
        <!-- row  -->
        <div class="row mb-6">

            <div class="col-md-12 col-12 mt-6 pe-0">
                <!-- card  -->
                <div class="card pt-2">


                    <!-- Variant Details  -->
                    <div class="row m-4 ">
                        <div class="col-md-6 border-end">
                            <!--image-->
                            <img src="~/images/@ViewBag.VariantDetails.VariantImage"
                                 alt="Blushes"
                                 class="image-responsive w-50 mx-auto d-block" />
                        </div>

                        <div class="col-md-6">
                            <!--Data-->
                            <div>
                                <h4>
                                    @ViewBag.VariantDetails.VariantName <span>
                                        @if (ViewBag.VariantDetails.IsWishlisted)
                                        {
                                            <i class="fa-solid fa-heart float-end removeItemFromWishlist" data-id="@ViewBag.VariantDetails.Id" style="color: #f4101c;" data-mdb-toggle="tooltip" title="Wishlist"></i>

                                        }
                                        else
                                        {
                                            <i class="fa-regular fa-heart float-end addItemToWishlist" data-id="@ViewBag.VariantDetails.Id" data-mdb-toggle="tooltip" title="Wishlist"></i>
                                        }
                                      
                                    </span>
                                </h4>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="text-danger mb-1 me-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <span class="ms-1">
                                        4.5
                                    </span>
                                </div>
                                
                            </div><br />
                            <h6 class="fw-bold">Description</h6>
                            <p style="text-align:justify;">@ViewBag.VariantDetails.VariantDescription</p>
                            
                            <h5>Price: Rs.@ViewBag.VariantDetails.Price</h5>
                            <div class="buttons d-flex flex-row mt-4 gap-3">
                                <a data-id="@ViewBag.VariantDetails.Id" class="btn btn-outline-dark BuyNow">Buy Now</a>
                                <a data-id="@ViewBag.VariantDetails.Id" class="btn btn-dark addItemToCart">Add to Basket</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       
    </div>
    @if (ViewBag.HasSimilarItems != null)
    {
        <section class="mx-0">
            <div class="container py-5">
                <div>
                    <h3>Similar Items </h3>
                    <hr/>             
                </div>
                <div class="row">
                    @foreach(var item in Model)
                    {
                        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                            <div class="card similar_product_card">
                                <img src="~/images/@item.VariantImage"
                                         class="card-img-top" alt="variantImage" onclick="location.href='@Url.Action("Product_Details_for_Customer", "Home", new {id =@item.Id })'" />


                                <div class="card-body align-items-center justify-content-center">

                                    <div class="d-flex mb-3">
                                        <h6 class="mb-0">@item.VariantName</h6>
                                        
                                    </div>
                                    <h6 class="text-dark mb-0">Price: Rs.@item.Price</h6>

                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </section>
                       

    }
   

    @section scripts {
        <script>

            $(document).ready(function () {


                $('.addItemToCart').click(function () {
                    var variantId = $(this).data('id');
                    var q = 1;
                    $.ajax({
                        url: '@Url.Action("AddToCart", "Home")',
                        data: { productVariantId: variantId,  quantity: q},
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: 'Item has been successfully added to your Cart!',
                                    confirmButtonColor: '#28a745'
                                }).then(res => { location.reload(); });
                            } else {
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Kindly, Login or SignUp',
                                    timer: 2000,
                                    confirmButtonColor: '#28a745'
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Failure',
                                text: 'Error occurred while adding the item to your Cart.',
                                confirmButtonColor: '#28a745'
                            });
                        }
                        
                    });

                });

                $('.BuyNow').click(function () {
                    var variantId = $(this).data('id');
                    $.ajax({
                        url: '@Url.Action("SelectDeliveryAddress", "Home")',
                        data: { productVariantId: variantId},
                        type: 'GET',
                        cache: false,
                        success: function (response) {
                            if (response.success == false) {
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Kindly, Login or SignUp',
                                    timer: 2000,
                                    confirmButtonColor: '#28a745'
                                });
                            } else {
                                window.location.href = '@Url.Action("SelectDeliveryAddress", "Home")' + '?productVariantId=' + variantId;
                            }
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Failure',
                                text: 'Error occurred while processing your request.',
                                confirmButtonColor: '#28a745'
                            });
                        }

                    });

                });

                $('.addItemToWishlist').click(function () {
                    var variantId = $(this).data('id');
                    $.ajax({
                        url: '@Url.Action("WishlistItem", "Home")',
                        data: { productVariantId: variantId },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: 'Item has been successfully added to your Wishlist!',
                                    confirmButtonColor: '#28a745'
                                }).then(res => { location.reload(); });
                            } else {
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Kindly, Login or SignUp',
                                    timer: 2000,
                                    confirmButtonColor: '#28a745'
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Failure',
                                text: 'Error occurred while adding the item to your Cart.',
                                confirmButtonColor: '#28a745'
                            });
                        }
                       
                    });
                });
                $('.removeItemFromWishlist').click(function () {
                    var variantId = $(this).data('id');
                    $.ajax({
                        url: '@Url.Action("WishlistItem", "Home")',
                        data: { productVariantId: variantId },
                        success: function () {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Item has been successfully removed to your Wishlist!',
                                confirmButtonColor: '#28a745'
                            }).then(res => { location.reload(); });

                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Failure',
                                text: 'Error occurred while removing the item from your Wishlist.',
                                confirmButtonColor: '#28a745'
                            });
                        }
                    });
                });
            });

            

        </script>
    }

  




</body>

