@model Cosmetics_Shopping_Website.GenericPattern.ViewModels.ProductVariantVM

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<body class="mb-0">
    <div class="space bg-transparent"></div>
    <div class="container-fluid mt-5 px-5">
        
        <!-- row  -->
        <div class="row mb-6">

            <div class="col-md-12 col-12 mt-6 pe-0">
                <!-- card  -->
                <div class="card pt-2">


                    <!-- Variant Details  -->
                    <div class="row m-4 ">
                        <div class="col-md-6 border-end">
                            <!--image-->
                            <img src="~/images/@Model.VariantImage"
                                 alt="Blushes"
                                 class="image-responsive w-50 mx-auto d-block" />
                        </div>

                        <div class="col-md-6">
                            <!--Data-->
                            <div>
                                <h4>@Model.VariantName <span>
                                        @if (Model.IsWishlisted)
                                        {
                                            <i class="fa-solid fa-heart float-end" style="color: #f4101c;" onclick="location.href='@Url.Action("WishlistItem", "Home", new{ productVariantId = @Model.Id})'" id="full-heart-icon" data-mdb-toggle="tooltip" title="Wishlist"></i>

                                        }
                                        else
                                        {
                                            <i class="fa-regular fa-heart float-end" id="empty-heart-icon" onclick="location.href='@Url.Action("WishlistItem", "Home", new{ productVariantId = @Model.Id})'" data-mdb-toggle="tooltip" title="Wishlist"></i>
                                        }
                                       @* @if ((bool)ViewData["wishlistItem"] == false)
                                        {
                                            <i class="fa-solid fa-heart float-end" style="color: #f4101c;" onclick="location.href='@Url.Action("WishlistItem", "Home", new{ productVariantId = @Model.Id})'" id="full-heart-icon" data-mdb-toggle="tooltip" title="Wishlist"></i>
                                       
                                        }
                                        else
                                        {
                                             <i class="fa-regular fa-heart float-end" id="empty-heart-icon" onclick="location.href='@Url.Action("WishlistItem", "Home", new{ productVariantId = @Model.Id})'" data-mdb-toggle="tooltip" title="Wishlist"></i>
                                        }*@
                                    </span>
                                </h4>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="text-danger mb-1 me-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span>256 reviews</span>
                            </div><br />
                            <h6>Description</h6>
                            <p>@Model.VariantDescription</p>
                            <div>
                                <span class="fw-bold">Color</span>	<div class="colors">
                                    <ul id="marker">
                                        <li id="marker-1"></li>
                                        <li id="marker-2"></li>
                                        <li id="marker-3"></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <h5>Price: Rs.@Model.Price</h5>
                            <div class="buttons d-flex flex-row mt-2 gap-3">
                                <button class="btn btn-outline-dark">Buy Now</button>
                                <button class="btn btn-dark">Add to Basket</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="m-5 p-0 "><h4>See Also</h4></div>
    <div class="card-group mt-5 p-5">
        <div class="card me-4 rounded">
            <img src="https://cdn.shopify.com/s/files/1/0979/5386/products/Untitleddesign-2022-04-21T131509.272_2000x.png?v=1686324860" class="card-img-top" alt="makeup-card">
            <div class="card-img-overlay align-items-center justify-content-center">
                <h5 class="card-title">Makeup</h5>
                <div class=" border border-dark rounded w-25  justify-content-center"><small class="card-text">Shop Now</small></div>
            </div>
        </div>
        <div class="card me-4 rounded">
            <img src="~/images/card-scrub-homepage.jpg" class="card-img-top" alt="bodycare-card">
            <div class="card-img-overlay align-items-center justify-content-center">
                <h5 class="card-title">Body Care</h5>
                <div class=" border border-dark rounded w-25  justify-content-center"><small class="card-text">Shop Now</small></div>
            </div>
        </div>
        <div class="card rounded">
            <img src="https://image.harrods.com/lancome-idole-eau-de-parfum-75ml_14823474_43345282_2048.jpg" class="card-img-top" alt="fragrance-card" style="height:407px">
            <div class="card-img-overlay align-items-center justify-content-center">
                <h5 class="card-title">Fragrance</h5>
                <div class=" border border-dark rounded w-25  justify-content-center"><small class="card-text ">Shop Now</small></div>
            </div>
        </div>
    </div>
    

    @section scripts{
        <script>
            
            document.getElementById("empty-heart-icon").addEventListener("click", function () {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Item has been successfully added to your Wishlist!',
                    confirmButtonColor: '#28a745'
                });
            });

            document.getElementById("full-heart-icon").addEventListener("click", function () {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Item has been successfully remove to your Wishlist!',
                    confirmButtonColor: '#28a745'
                });
            });
        </script>

    }




</body>

@*document.getElementById("full-heart-icon").addEventListener("click", function () {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Item has been successfully removed to your Wishlist!',
                    confirmButtonColor: '#28a745'
                });
            });
*@

